<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="simple.min.css">
    <title>Wiki Paths</title>
</head>
<body>
  <header>
    <h1>Wiki Paths</h1>
    <p>Find the shortest path between any two english Wikipedia articles.</p>
  </header>

  {{ body }}

  <footer>
    <p>Wikipedia is a trademark of the Wikimedia Foundation and is used with the permission of the Wikimedia Foundation. We are not endorsed by or affiliated with the Wikimedia Foundation.</p>
  </footer>
</body>
<script src="index.js"></script>
</html>